@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }
}
[data-user-color-scheme="dark"] {
  --color-mode: 'dark';
  --text: rgba(255,255,255,0.86);
  --link: #def2ff;
  --bg: #181c27;
  --code: #c3c7cb;
  --codebg: #3e4b5e;
  --navbg: #252d38;
  --item: rgba(255,255,255,0.86);
  --meta: rgba(187,187,187,0.478);
  --cpyr: #252d38;
}
[data-user-color-scheme="dark"] img {
  filter: brightness(50%);
}
[data-user-color-scheme="dark"] .note {
  filter: brightness(50%);
}
[data-user-color-scheme="dark"] .highlight,
[data-user-color-scheme="dark"] .gutter {
  background-color: #3c495b !important;
}
